{extend name="common/header" /}
{block name="headers"}
<link rel="stylesheet" href="__HOME__/css/login.css" />
<style>
    #login{
        background-image: url(__HOME__/img/lback.png)!important;
    }
    #login ul li:nth-child(1) img{
        width: 80%;
    }
    #login ul li input{

        border: 0;
        color: #333333;
        background: url(__HOME__/img/user.png) no-repeat 0.4rem center;
        background-size:  auto 0.32rem;
        text-indent: 0.8rem;
        background-color: white;
    }
    #login ul li input::-moz-placeholder{
        color: rgba(51,51,51,0.2);
    }
    #login ul li input::-webkit-input-placeholder{
        color: rgba(51,51,51,0.2);
    }
    #login ul li input::-ms-input-placeholder{
        color: rgba(51,51,51,0.2);
    }
    #login ul li:nth-child(5) button{
        color: white;
        background-color: #481c76;
    }
</style>
<title>登录</title>

{/block}
{block name="main"}
		<div id="login">
			<ul>
				<li>
					<img src="__HOME__/img/LoginLogo.png"/>
				</li>
				<li>
					<input  type="text" name="username" id="username" placeholder="登录账号"/>
				</li>
				<li style="position: relative">
					<input  type="password" name="password" id="password" placeholder="登录密码"  style="background-image: url(__HOME__/img/pwd.png);"/>
                    <a href="javascript:;" onclick="changeSrc()"><img aid="1" id="eye" src="__HOME__/img/eyes.png" alt="" style="position: absolute;top: 0.25rem;right: 0.4rem;height: 0.3rem;"/></a>
				</li>
				<li>

				</li>
				<li>
					<button onclick="subit()">登录</button>
				</li>
			</ul>
		</div>

{/block}

{block name="footer"}
{include file="common/footer" /}
<script type="text/javascript" src="__HOME__/js/rLogin.js" ></script>
<script type="text/javascript">
    layui.use('layer', function(){
        var layer = layui.layer;
    });

    function subit(){
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url:"{:url('Login/check')}",
            type:"post",
            data:{"username":username,"password":password},
            success:function(re){
                if(re.code===1){
                    layer.msg(re.msg,{time:1000});
                    location.href = re.url;
                }else{
                    layer.msg(re.msg,{time:1000});
                }
            }
        });
    }

    function changeSrc(){
        var aid = $("#eye").attr('aid');
        if(aid ==1){
            $("#eye").attr('src','__HOME__/img/eye.png');
            $("#eye").attr('aid',2);
            $("#password").attr('type','text');
        }else{
            $("#eye").attr('src','__HOME__/img/eyes.png');
            $("#eye").attr('aid',1);
            $("#password").attr('type','password');
        }

    }
</script>

{/block}

