{extend name="common/header" /}
{block name="headers"}
<title>培训视频</title>
<link rel="stylesheet" href="__HOME__/css/details.css" />
<script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
{/block}
{block name="main"}

		<!--导航栏-->
		<div id = "home">
			<div class="pHead">
				<a href="teachSearch.html" class="back backP"><img src="__HOME__/img/back.png"/></a>
				<p>视频详情</p>
			</div>
			<div class="main">
				<div class="videoBox">
					<ul>
						<li>
							<iframe frameborder="0" src="{$data.link}" allowfullscreen></iframe>
						</li>
						<li>
							<p>{$data.title}</p>
						</li>
						<li>
							<p>{$data.createtime|date="Y-m-d",###}</p>
							<p>{$data.hits}</p>
                            <input type="hidden" name="id" id="aid" value="{$data.id}">
							<a class="collect" href="###" {if condition="$data.click eq false"} collect='true'{else/} collect='false'{/if}>
								<span>已收藏</span>
                                {if condition="$data.click eq false"}
								<img src="__HOME__/img/hasCollect.png">
                                {else/}
                                <img src="__HOME__/img/noCollect.png">
                                {/if}
							</a>
						</li>
					</ul>
				</div>
				<div class="content">
                    {$data.content}
				</div>
			</div>
			<div style="height: 0.8rem;"></div>
			<div class="twoChoice">
				<a href="###" class="download">下载本期培训文件</a>
				<a href="{:url('Exam/test')}?id={$data.tid}">开始答题</a>
				<div class="clearl"></div>
			</div>
		</div>
		<div class="popWindow popWindow1" style="display: none;">
			<div class="popBox">
				<ul>
					<li>
						<p class="firstp">下载地址</p>
					</li>
					<li>
						<p class="secondp">百度云：{$data.weblink}</p>
						<p>提取码：{$data.webnum}</p>
					</li>
					<li>
						<div class="onlyOne" style="display: none;"><button class="confirm">确定</button></div>
						<div class="onlyTwo"><span></span>
							<div class="oLeft floatl"><button class="close">关闭</button></div>
							<div class="oRight floatr"><button class="copy" data-clipboard-text="{$data.weblink}">复制网址</button></div>
							<script>
								new Clipboard('.copy');
							</script>
							<div class="clearBoth"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>

{/block}
{block name="footer"}
{include file="common/footer" /}
<script type="text/javascript" src="__HOME__/js/public.js" ></script>
<script type="text/javascript" src="__HOME__/js/details.js?v=1" ></script>
{/block}



