<html>
<head>
    <meta charset="utf-8">
    <title>试卷详情</title>
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css?v=1" media="all" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/qu/css/wenjuan_ht.css">
    <script src="http://www.jq22.com/jquery/jquery-1.7.1.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
    <link rel="stylesheet" href="__USER__/css/font.css">
    <link rel="stylesheet" href="__USER__/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="__USER__/js/xadmin.js"></script>
    <style>

        .btu{
            display: inline-block;
            height: 38px;
            line-height: 37px;
            padding: 0 18px;
            background-color: #0099ff;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
        .wjdc_list li{
            line-height: 50px;
        }
    </style>
</head>
<body>
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">

    <div class="all_660" style="margin-left: 50px">
        <div style="margin-top: 10px;margin-left: 115px;">
            <h1 id="tile" style="font-size: 18px;">试题：{$test.title}</h1>
        </div>
        <div style="margin-top: 10px;margin-left: 115px;">
            <h1 id="ftile" style="font-size: 18px;">期数：{$test.f_title}</h1>
        </div>
        <div style="margin-top: 10px;margin-left: 115px;">
            <h3 style="font-size: 12px;">答题人：{$username}</h3>
        </div>
        <div id="content" class="yd_box" style="margin-left: 110px;width: 650px">
            {volist name="$test.content" id="vo" key="k"}
            <div class="movie_box" style="border: 1px solid rgb(255, 255, 255);">
                <ul class="wjdc_list">
                    <input type='hidden' class='scot' value='{$vo.score}'>
                    <li>
                        <div class="tm_btitlt">
                            <i class="nmb">{$k}</i>
                            .
                            <i class="btwenzi">{$vo.title}</i>
                            {if condition="$vo.type eq 1"}
                            <span class="tip_wz">【单选】</span><span>（{$vo.score}分）</span>{if condition="$vo.answers eq true"}<span><img src="__STATIC__/common/images/dui.png" style="width: 30px;"></span>{else/}<span><img src="__STATIC__/common/images/cuo.png" style="width: 30px;"></span>{/if}
                            {elseif condition="$vo.type eq 2"}
                            <span class="tip_wz">【多选】</span><span>（{$vo.score}分）</span>{if condition="$vo.answers eq true"}<span><img src="__STATIC__/common/images/dui.png" style="width: 30px;"></span>{else/}<span><img src="__STATIC__/common/images/cuo.png" style="width: 30px;"></span>{/if}
                            {elseif condition="$vo.type eq 3"}
                            <span class="tip_wz">【判断】</span><span>（{$vo.score}分）</span>{if condition="$vo.answers eq true"}<span><img src="__STATIC__/common/images/dui.png" style="width: 30px;"></span>{else/}<span><img src="__STATIC__/common/images/cuo.png" style="width: 30px;"></span>{/if}
                            {else/}
                            <span class="tip_wz">【问答】</span><span>（{$vo.score}分）</span>{if condition="$vo.answers eq true"}<span><img src="__STATIC__/common/images/dui.png" style="width: 30px;"></span>{else/}<span><img src="__STATIC__/common/images/cuo.png" style="width: 30px;"></span>{/if}
                            {/if}

                        </div>
                    </li>
                    {volist name="$vo.input" id="vv"}
                    <li class="input">
                        <label>
                            {if condition="$vo.type eq 1"}
                            <input name="a{$k}0" type="radio" {if condition="$vv.answer eq 1"}checked="checked"{/if} value="{$vv.val}" />
                            {elseif condition="$vo.type eq 2"}
                            <input name="a{$k}0" type="checkbox" {if condition="$vv.answer eq 1"}checked="checked"{/if} value="{$vv.val}" />
                            {elseif condition="$vo.type eq 3"}
                            <input name="a{$k}0" type="radio" {if condition="$vv.answer eq 1"}checked="checked"{/if} value="{$vv.val}" />
                            {else/}
                            <input name="a{$k}0" type="radio" value="{$vv.val}">
                            {/if}
                            <span>{php}$p=strrchr($vv['val'],'.');{/php}{if condition="$p eq '.png' || $p eq '.jpg' || $p eq '.jpeg' || $p eq '.gif'"}<img src="__PUBLIC__{$vv.val}" >{else/}{$vv.val}{/if}</span>
                        </label>
                    </li>
                    {/volist}

                </ul>

            </div>
            {/volist}
        </div>
        <div class="layui-input-block" style="margin-left: 117px;margin-top: 20px">
            <input type="hidden" name="id" id="tid" value="{$test.id}">
            <button class="btu" onclick="remoe()">重新考试</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary">返回</a>
        </div>
    </div>
</div>
{include file="common/foot"/}
</body>
</html>
<script type="text/javascript">
    function remoe(){
        var id = $("#tid").val();
        $.get("{:url('Train/remoe')}?id="+id,function(re){
            if(re.code == 1){
                layer.msg(re.msg);
            }else{
                layer.msg(re.msg);
            }
        });
    }
</script>

