{extend name="common/header" /}
{block name="headers"}
<title>我的测试</title>
<link rel="stylesheet" href="__HOME__/css/exam.css" />
<style>
    .choice li{
        line-height: 50px;
    }
    .back_home{
        position: absolute;
        right: 0%;
        top: 0;
        height: 0.32rem;
        margin-left: 85%;
    }
</style>
{/block}
{block name="main"}
<div id="exam" style="overflow: hidden;">
    <div class="pHead">
        <a class="back backP"><img src="__HOME__/img/back.png"/></a>
        <p>开始测试</p>
        <a class="back_home" href="{:url('User/index')}"><img src="__HOME__/img/home.png"/></a>
    </div>
    <div class="problemBox">
        <div class="pTitle">
            <ul>
                <li>
                    <p id="tile">{$test.title}</p>
                </li>
                <li>
                    <p id="f_tile">{$test.f_title}</p>
                </li>
            </ul>
        </div>
        <div class="problems">

            {volist name="$test.content" id="vo" key="k"}
            <div class="problem dan movie_box" >
                <ul class="wjdc_list">
                    <input type='hidden' class='scot' value='{$vo.score}'>
                    <li>
                        <div class="pt">
                            <p class="tm_btitlt">
                                {$k}.<span class="btwenzi">{$vo.title}</span>
                                {if condition="$vo.type eq 1"}
                                <span class="tip_wz">【单选】</span><span>（{$vo.score}分）</span>
                                {elseif condition="$vo.type eq 2"}
                                <span class="tip_wz">【多选】</span><span>（{$vo.score}分）</span>
                                {elseif condition="$vo.type eq 3"}
                                <span class="tip_wz">【判断】</span><span>（{$vo.score}分）</span>
                                {else/}
                                <span class="tip_wz">【问答】</span><span>（{$vo.score}分）</span>
                                {/if}
                            </p>
                        </div>
                    </li>
                    <div class="choice">
                        <ul class="chput">
                            {volist name="$vo.input" id="vv"}
                            <li class="input">

                                {if condition="$vo.type eq 1"}
                                <label class="radio">
                                    <input name="a{$k}0" type="radio" value="{$vv.val}" />
                                    <i></i>
                                    {elseif condition="$vo.type eq 2"}
                                    <label class="checkBox">
                                        <input name="a{$k}0" type="checkbox" value="{$vv.val}" />
                                        <i></i>
                                        {elseif condition="$vo.type eq 3"}
                                        <label class="radio">
                                            <input name="a{$k}0" type="radio" value="{$vv.val}" />
                                            <i></i>
                                            {else/}
                                            <label class="radio">
                                                <input name="a{$k}0" type="radio" value="{$vv.val}">
                                                <i></i>
                                                {/if}

                                                <span>{$vv.val}</span>
                                            </label>
                            </li>
                            {/volist}

                        </ul>
                    </div>
                </ul>
            </div>
            {/volist}


        </div>
    </div>
    <div class="st">
        <input TYPE="hidden" name="id" id="tsetid" value="{$test.id}">
        <input TYPE="hidden" name="tid" id="tid" value="{$test.tid}">
        <button onclick="addj()">提交</button>
    </div>
    <!--答题结果-->
    <div class="result" style="display: none;">
        <div class="score">
            <div>
                <p><span id="score">80</span>分</p>
                <p>回答错误&nbsp;&nbsp;<span id="false">2</span>&nbsp;&nbsp;回答正确&nbsp;&nbsp;<span id="true">8</span>&nbsp;&nbsp;</p>
            </div>
        </div>
        <div class="rBtn">
            <a class="floatl" href="{:url('Teach/index')}">返回首页</a>
            <a class="floatr toResult" href="">查看试题</a>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
{include file="common/footer" /}
<script type="text/javascript">
    layui.use('layer', function(){
        var layer = layui.layer;
    });
    function addj(){
        var titles = $('#tile').text();
        var f_title = $('#f_tile').text();
        var id = $('#tsetid').val();
        var tid = $('#tid').val();
        var content = getTest();
        popw("温馨提示","确认要提交吗？",2,function(){
            layer.load(1);
            $.ajax({
                url:"{:url('Exam/edit')}",
                type:"post",
                data:{"id":id,"title":titles,"content":content,"tid":tid,"f_title":f_title},
                success:function(res){
                    layer.closeAll();
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800}, function () {
                            $('.problemBox').hide();
                            $('.st').hide();
                            $('.result').show();
                            $('#score').text(res.lists.score);
                            $('#false').text(res.lists.false);
                            $('#true').text(res.lists.true);
                            $('.toResult').attr('href',"{:url('Exam/detail')}?id="+res.lists.id);
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800});
                    }
                }
            });
        });
    }
    $(function() {
        //设置没有相关结果
        setTimeout(function() {
            $('.result').height($(window).height() - $('.pHead').height());
        }, 200);
    })
</script>
{/block}




