<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css?v=1" media="all" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/qu/css/wenjuan_ht.css">
    <script src="http://www.jq22.com/jquery/jquery-1.7.1.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
    <link rel="stylesheet" href="__USER__/css/font.css">
    <link rel="stylesheet" href="__USER__/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="__USER__/js/xadmin.js"></script>
    <style>
        #addquerstions{
            width: 30%;
            height: 36px;
            float: left;
            margin-right: 10px;
            border-color: #D2D2D2!important;
        }
        .btu{
            display: inline-block;
            height: 38px;
            line-height: 37px;
            padding: 0 18px;
            background-color: #0099ff;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
        .btwen_text_tk_cos{
            width: 606px;
            height: 60px;
            padding-left: 8px;
            padding-top: 5px;
        }
    </style>
</head>
<body>
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <div class="x-nav" style="line-height: 40px">
      <span class="layui-breadcrumb " style="line-height: 40px">
        <a href="" style="line-height: 40px">培训管理</a>
        <a href="" style="line-height: 40px">我的试卷</a>
      </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="all_660" style="margin-left: 50px">
        <div style="margin-top: 10px;margin-left: 115px;">
            <h1 id="tile">{$test.title}</h1>
        </div>
        <div style="margin-top: 10px;margin-left: 115px;">
            <h1 id="f_tile">{$test.f_title}</h1>
        </div>
        <div id="content" class="yd_box" style="margin-left: 110px;width: 650px">
            {volist name="$test.content" id="vo" key="k"}
            <div class="movie_box" style="border: 1px solid rgb(255, 255, 255);">
                <ul class="wjdc_list">
                    <input type='hidden' class='scot' value='{$vo.score}'>
                    <li>
                        <div class="tm_btitlt">
                            <i class="nmb">{$k}</i>
                            .
                            <i class="btwenzi">{$vo.title}</i>
                            {if condition="$vo.type eq 1"}
                            <span class="tip_wz">【单选】</span><span>（{$vo.score}分）</span>{if condition="$vo.answers eq true"}<span><img src="__STATIC__/common/images/dui.png" style="width: 30px;"></span>{else/}<span><img src="__STATIC__/common/images/cuo.png" style="width: 30px;"></span>{/if}
                            {elseif condition="$vo.type eq 2"}
                            <span class="tip_wz">【多选】</span><span>（{$vo.score}分）</span>{if condition="$vo.answers eq true"}<span><img src="__STATIC__/common/images/dui.png" style="width: 30px;"></span>{else/}<span><img src="__STATIC__/common/images/cuo.png" style="width: 30px;"></span>{/if}
                            {elseif condition="$vo.type eq 3"}
                            <span class="tip_wz">【判断】</span><span>（{$vo.score}分）</span>{if condition="$vo.answers eq true"}<span><img src="__STATIC__/common/images/dui.png" style="width: 30px;"></span>{else/}<span><img src="__STATIC__/common/images/cuo.png" style="width: 30px;"></span>{/if}
                            {else/}
                            <span class="tip_wz">【问答】</span><span>（{$vo.score}分）</span>{if condition="$vo.answers eq true"}<span><img src="__STATIC__/common/images/dui.png" style="width: 30px;"></span>{else/}<span><img src="__STATIC__/common/images/cuo.png" style="width: 30px;"></span>{/if}
                            {/if}

                        </div>
                    </li>
                    {volist name="$vo.input" id="vv"}
                    <li class="input">
                        <label>
                            {if condition="$vo.type eq 1"}
                            <input name="a{$k}0" type="radio" {if condition="$vv.answer eq 1"}checked="checked"{/if} value="{$vv.val}" />
                            {elseif condition="$vo.type eq 2"}
                            <input name="a{$k}0" type="checkbox" {if condition="$vv.answer eq 1"}checked="checked"{/if} value="{$vv.val}" />
                            {elseif condition="$vo.type eq 3"}
                            <input name="a{$k}0" type="radio" {if condition="$vv.answer eq 1"}checked="checked"{/if} value="{$vv.val}" />
                            {else/}
                            <input name="a{$k}0" type="radio" value="{$vv.val}">
                            {/if}
                            <span>{$vv.val}</span>
                        </label>
                    </li>
                    {/volist}

                </ul>

            </div>
            {/volist}
        </div>
        <div class="layui-input-block" style="margin-left: 117px;margin-top: 20px">
            <input TYPE="hidden" name="id" id="tsetid" value="{$test.id}">
            <input TYPE="hidden" name="tid" id="tid" value="{$test.tid}">
            <button class="btu" onclick="addj()">提交</button>
            <a href="javascript:;" onclick="goback()" class="layui-btn layui-btn-primary">返回</a>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="__STATIC__/common/js/common.js"></script>
<script type="text/javascript">

    function goback(){
        window.history.go(-1);
    }
    function addj(){
        layer.confirm('确认要提交吗？',function(index){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.load(1);
            });
            var titles = $('#tile').text();
            var f_title = $('#f_tile').text();
            var id = $('#tsetid').val();
            var tid = $('#tid').val();
            var content = getTest();
            $.ajax({
                url:"{:url('Exam/edit')}",
                type:"post",
                data:{"id":id,"title":titles,"content":content,"tid":tid,"f_title":f_title},
                success:function(res){
                    layer.closeAll();
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                }
            });
        });
    }
</script>