{include file="common/header"/}
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">培训管理</a>
        <a href="">我的试卷</a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    {empty name="list"}
    <div class="noResult" style="width: 300px;margin: 0 auto;margin-top: 100px;">
        <ul style="text-align: center;">
            <li>
                <img src="__HOME__/img/noResult.png" />
            </li>
            <li style="line-height: 20px;">
                <p style="margin-bottom: 0;">您没有完成测试的试题</p>
            </li>
            <li style="line-height: 20px;margin: 0 auto">
                <a href="{:url('Train/tvdList')}" ><button>马上测试</button></a>
            </li>
        </ul>
    </div>
    {else /}
    <div class="layui-row" >
        <form class="layui-form layui-col-md12 x-so">
            <input type="text" name="key"  placeholder="请输入标题" autocomplete="off" class="layui-input">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <table class="layui-table" >
        <thead>
        <tr>
            <th>标题</th>
            <th>提交时间</th>
            <th>得分</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.title}</td>
            <td>{$vo.addtime|date="Y-m-d",###}</td>
            <td>{$vo.score}</td>
            <td>
                    {if condition="$vo.status eq 1"}
                    <button class="layui-btn" data-type="reload" onclick="getDetail('{$vo.id}')">点击查看试卷</button>
                    {else/}
                    <button class="layui-btn" data-type="reload" onclick="jin('{$vo.tid}')">重新考试</button>
                    {/if}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page">
        {$page}
    </div>
    {/empty}
</div>
<script type="text/javascript">
    function jin(id){
        window.location.href="{:url('Exam/test')}?id="+id;
    }
    function getDetail(id){
        window.location.href="{:url('Exam/getDetail')}?id="+id;
    }
</script>







